.listings-all {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: center;
  flex-flow: wrap;
}

.listing-title {
  color: black;
}

.listing-description {
  color: black;
}

.listing-picture {
}

.search-container {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  float: left;
}

.search-container input#search {
  width: 300px;
  height: 50px;
  font-size: 1em;
  padding: 1em;
  border: 2px solid #ccdbdc;
  outline: none;
}
