.listings-all {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: center;
}

.listing-title {
  color: black;
}

.listing-description {
  color: black;
}

.listing-picture {

}
