@import url('https://fonts.googleapis.com/css?family=Lato');

.App {
  text-align: center;
}

.App-header {
  font-family: 'Lato',
  sans-serif;
  background-color: #2c363f;
  height: 70px;
  padding: 20px;
  color: #ffd1dc;
}

.App-header a {
  color: #ccdbdc;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato',
  sans-serif;
}

.App-header a:hover {
  color: #ffd1dc;
  font-weight: bold;
  border-bottom: 1px solid;
}

.App-header-nav {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.App-header-nav li {
  margin-right: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
